@charset "UTF-8";
/* 폰트 패밀리 설정 */
@font-face {
    font-family: 'nanum';
    font-weight: 300;
    src: url('../font/NanumSquareRoundL.ttf') format('truetype');
}
@font-face {
    font-family: 'nanum';
    font-weight: normal;
    src: url('../font/NanumSquareRoundR.ttf') format('truetype');
}
@font-face {
    font-family: 'nanum';
    font-weight: bold;
    src: url('../font/NanumSquareRoundB.ttf') format('truetype');
}
@font-face {
    font-family: 'nanum';
    font-weight: 800;
    src: url('../font/NanumSquareRoundEB.ttf') format('truetype');
}

/* fadeIn, fadeOut 애니메이션 스타일 정의 */
/* 아래에서 위로 나타나는 애니메이션 스타일 */
@keyframes fadein_frombottom {
	from {
		bottom: -55vmax;
	}
	to {
		bottom: 8vmax;
	}
}
/* 위에서 아래로 사라지는 애니메이션 스타일 */
@keyframes fadeout_tobottom {
	from {
		bottom: 8vmax;
	}
	to {
		bottom: -55vmax;
	}
}
/* 검색칸 open, close 애니메이션 스타일 정의 */
/* 우측에서 좌측으로 검색칸 열리는 애니메이션 스타일 */
@keyframes open_search {
	from {
		width: 0%;
	}
	to {
		width: 95%;
	}
}
/* 좌측에서 우측으로 검색칸 닫히는 애니메이션 스타일 */
@keyframes close_search {
	from {
		width: 95%;
	}
	to {
		width: 0%;
	}
}

/* 공통 적용 */
body {
	position: relative;
	background: #FFFFFF;
	font-family: 'nanum' !important;
	font-size: 16px;
	color: #191919;
	-ms-overflow-style: none;
}
::-webkit-scrollbar {
	display: none;
}
/* <a>태그 기본 스타일 제거 */
.link_anchor {
	color: #191919;
	text-decoration : none;
}
.link_anchor:visited {
	color: #191919;
	text-decoration : none;
}
.link_anchor:active {
	color: #191919;
	text-decoration : none;
}
/* textarea 스타일 설정 */
textarea {
	resize: none !important;
}
textarea::placeholder, input::placeholder {
	font-style: italic;
}
/* 문단 형태의 텍스트 */
.multi_line_text p {
	white-space: pre-line;
	margin-bottom: 0vmax;
}

/* 추천 축제 목록 레이아웃 */
.recommend_list_layout {
	width: 100vmin;
	height: 60vmax;
	/* padding-top: 3vmax;
	padding-bottom: 6vmax;
	margin: 2.7vmax 0vmin; */
	margin-bottom: 2.7vmax;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	box-shadow: 0vw 0.15625rem 0.125rem 0vw #0000001A;
}
.carousel-indicators {
	margin: 0rem;
	padding: 0.5rem;
}
.indicator_background {
	background-color: #EBEBEB99;
	border-radius: 1rem;
	padding: 0.15rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.carousel-indicators button {
	width: 1.8vmin !important;
	height: 1.8vmin !important;
	background: #F15600A6 !important;
	border: 0.0625rem solid #F156008C !important;
	border-radius: 50% !important;
	margin-left: 0.9vmin !important;
	margin-right: 0.9vmin !important;
}
.recommend_div {
	width: 100%;
	height: 60vmax !important;
	cursor: pointer;
}
.recommend_img {
	object-fit: cover;
	object-position: top;
	width: 100%;
	min-height: 100%;
}

/* 메인 화면 카테고리 별 기본 레이아웃(수평 방향 레이아웃) */
.default_horizontal_layout {
	width: 100%;
	height: 55vmax;
}
.category_title, .horizontal_empty {
	margin-left: 4.15vmin;
}
.category_title h3 {
	float: left;
}
.category_title .goto_list {
	float: right;
}
.horizontal_container {
	overflow-x: overlay;
	width: 100vmin;
	height: 47.7vmax;
	display: flex;
}
.goto_list {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 4.15vmin;
	font-size: 0.75rem;
}
.goto_list img {
	transform: rotate(180deg);
	width: 5vmin;
	height: 5vmin;
}
.goto_list p {
	margin-bottom: 0vmax;
}
.horizontal_goto {
	min-width: 16vmin;
	height: 100%;
	flex-direction: column;
}
.black_circle {
	display: flex !important;
	width: 10vmin;
	height: 10vmin;
	justify-content: center;
	align-items: center;
	border: 0.09rem solid #191919;
	border-radius: 50%;
}

/* 기본 축제 목록 레이아웃 */
.default_list_layout {
	width: 100%;
	padding: 0vmin 8.3vmin;
	margin: 4.05vmax 0vmin 1.35vmax 0vmin;
}
.default_list_2x_layout {
	width: 100%;
	padding: 0vmin 4.15vmin;
	margin: 4.05vmax 0vmin 1.35vmax 0vmin;
}
.default_list_layout h3, .default_list_2x_layout h3, .default_horizontal_layout h3 {
	margin-bottom: 2vmax;
	padding-left: 1vmin;
	border-left: 0.3rem solid #F15600;
	font-weight: bold;
	font-size: 1.1875rem;
}

/* 축제 상세 페이지 레이아웃 */
.festival_info_layout {
	padding: 0vmax 5vmin;
	font-weight: 800;
}
.festival_info_sub_title {
	margin-bottom: 2.7vmax;
}
.festival_info_sub_title h3 {
	font-weight: bold !important;
	font-size: 1.125rem;
	display: inline-block;
	margin-bottom: 0vmax;
}
.d-day_info {
	display: inline-block;
	font-weight: bold !important;
	padding: 0.125rem 0.75rem !important;
}
#fes_info_title {
	display: flex;
	align-items: center;
	margin-bottom: 0.5vmax;
}
#fes_info_title h3 {
	font-size: 1.1875rem;
}
#fes_title {
	display: flex;
	width: auto;
	height: 100%;
	text-align: left;
	align-items: center;
	margin-right: 3.3vmin;
}
#fes_status {
	display: flex;
	width: 34vmin;
	height: 100%;
	text-align: left;
	align-items: center;
}
.layout_bottom_line {
	border-bottom: 0.0625rem solid #C4C4C4;
	margin-bottom: 4.7vmax;
	padding-bottom: 4.05vmax;
}
.place_img {
	width: 5vmin;
	height: 2.7vmax;
}
/* 인덱스 메뉴(탭 클릭 시 해당 위치로 이동) */
.index_menu_empty {
	width: 100%;
	height: 8vmax;
}
.index_menu {
	position: fixed;
	top: 8vmax;
	left: 0px;
	width: 100%;
	height: 5vmax;
	z-index: 10;
	background-color: #FFFFFF;
}
.index_menu table {
	width: 100%;
	height: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 0.875rem;
}
.index_menu td {
	width: 20%;
	height: 100%;
	border-width: 0rem 0.0625rem 0.0625rem 0.0625rem;
	border-style: solid;
	border-color: #EBEBEB;
	border-collapse: collapse;
}
/* 이미지 */
.festival_info_layout .carousel {
	padding: 0vmax 3.5vmin;
}
.festival_info_layout .carousel-item {
	width: 83vmin;
	text-align: center;
}
.img_layout {
	width: 100%;
	object-fit: contain;
}
/* 상세 정보 메뉴(북마크, 입장권 구매, 리뷰)*/
.festival_info_menu_container {
	padding: 0vmax 3.5vmin;
}
.festival_info_menu {
	width: 83vmin;
	height: 8vmax;
	margin-top: 0.5vmax;
	margin-bottom: 2.7vmax;
	border: 0.0625rem solid #EBEBEB;
	border-radius: 0.8rem;
	background-color: #F5F5F5;
	font-size: 0.625rem;
}
.festival_info_menu_empty {
	float: left;
	width: 5%;
	height: 100%;
}
.festival_info_menu .icon_layout {
	float: left;
	width: 30%;
	height: 100%;
	text-align: center;
	justify-content: center;
	padding-top: 1.5vmax;
}
.festival_info_menu .icon_layout img {
	object-fit: contain;
	width: 50%;
	height: 50%;
	margin-bottom: 0.095rem;
}
/* 상세정보 출력 테이블 */
.detail_info {
	width: 100%;
	background-color: #F5F5F5;
}
.detail_info th, .detail_info td {
	height: 4.45vmax;
	vertical-align: top;
	padding-top: 1.4vmin;
}
.detail_info th {
	width: 20%;
	padding-left: 1.4vmin;
	font-weight: 800;
}
.detail_info td {
	width: 80%;
	padding-left: 2.7vmin;
	padding-right: 1.4vmin;
	font-weight: bold;
	word-break: break-all;
}
/* 입장권 구매 모달 창 */
.ticket_modal_layout {
	position: fixed;
	width: 90vmin;
	height: 45vmax;
	left: 5vmin;
	bottom: -55vmax;
	/* bottom: 8vmax; */	
	font-weight: 800;
	color: #5B5B5B;
	z-index: 1;
	background-color: #FFFFFF;
	border-top-left-radius: 1.25rem;
	border-top-right-radius: 1.25rem;
}
.fadeout_bottom_close {
	width: 100%;
	height: 4vmax;
	background-color: #D7D8D9;
	border-top-left-radius: 1.25rem;
	border-top-right-radius: 1.25rem;
	box-shadow: 0rem 0rem 0.25rem #00000016;
	text-align: center;
}
.fadeout_bottom_close img {
	width: 4vmax;
	height: 4vmax;
	object-fit: contain;
	transform: rotate(-90deg);
}
.ticket_modal_body {
	width: 100%;
	height: 41vmax;
	padding: 2.7vmax 3.5vmin 0.3vmax 3.5vmin;
	box-shadow: 0rem 0rem 0.25rem #00000016;
}
.modal_body_content {
	display: flex;
	width: 100%;
	height: 6.5vmax;
	justify-content: center;
	padding: 0.4vmax 0vmin;
}
.modal_hint_content {
	display: flex;
	width: 100%;
	height: 3vmax;
	align-items: start;
	justify-content: center; 
}
.modal_hint_content p {
	font-weight: 550;
	font-size: 0.75rem;
	color: red;
	margin-bottom: 0vmax;
}
.modal_body_btn {
	justify-content: center !important;
}
.modal_body_content > div {
	display: flex;
	float: left;
	justify-content: right;
	align-items: center;
}
.modal_body_content_title {
	width: 25%;
	height: 100%;
}
.modal_body_content_main {
	width: 35%;
	height: 100%;
	overflow-x: hidden;
}
.modal_body_content_sub {
	width: 10%;
	height: 100%;
	margin-right: 5vmin;
}
.modal_body_content input {
	width: 60%;
	height: 60%;
	text-align: right;
}
.modal_body_btn {
	width: 50%;
	height: 100%;
	font-size: 1.1875rem;
	padding: 1vmax 0vmin;
}
.modal_cancel {
	background-color: #F5F5F5;
}
.modal_submit {
	color: #FFFFFF;
	background-color: #F15600;	
}
/* 지도 CSS */
.map_wrap * {
	font-family: 'nanum' !important;
	font-size: 0.75rem;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
.map_wrap {
	position: relative;
	width: 100%;
	/* height: 68vmax; */
}
#kakaomap {
	width: 100%;
	height: 30vmax;
	margin-bottom: 2.5vmax;
}
#placesListLayout {
	width: 100%;
	height: 45vmax;
	overflow-y: auto;
}
.bg_white {
	background: #FFFFFF;
}
.festival_marker{
	width: 40vmin;
	text-align: center;
	font-size: 0.875rem
}
#placesList li {
	list-style: none;
	display: flex;
}
#placesList .item {
	position: relative;
	border-bottom: 0.0625rem solid #888888;
	overflow: hidden;
	cursor: pointer;
	min-height: 8.7vmax;
}
#placesList .item span {
	display: block;
	margin-top: 0.54vmax;
}
#placesList .item h5, #placesList .item .food_info {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#placesList .item .food_info{
	width: 65%;
	padding: 1.35vmax 0vmin 1.35vmax 2.7vmin;
}
#placesList .item .kakaolink {
	width: 20%;
	display: flex;
	padding: 1.35vmax 0vmin 1.35vmax 2.7vmin;
	align-items: start;
	justify-content: center;
}
#placesList .item .kakaolink img {
	width: 9vmin;
	height: 9vmin;
	object-fit: contain;
}
#placesList .food_info h5 {
	font-weight: bold;
	font-size: 0.875rem;
}
#placesList .food_info .gray {
	color: #8A8A8A;
}
#placesList .food_info .jibun {
	padding-left: 7.22vmin;
	background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}
#placesList .item .markerbg {
	width: 10vmin;
	height: 5vmax;
	margin: 1.35vmax 0 0 1.35vmax;
	background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#more_result {
	margin-top: 1.35vmax;
	text-align: center;
	color: #191919;
}

/* 축제 목록 출력 시의 카드 폼(세로 방향) CSS */
.festival_card_container {
	display: inline-block;
	width: 83vmin;
	cursor: pointer;
	margin-bottom: 8.3vmin;
	font-size: 0.875rem;
	font-weight: 800;
}
.festival_card_container .card {
	border: 0.1rem solid #F2F2F2;
	border-radius: 1rem;
}
.festival_card_container .card-body {
	padding-top: 1.1vmax;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	box-shadow: 0rem 0.125rem 0.125rem #00000016;
}
.festival_card_container .ratio {
	--bs-aspect-ratio: 120%;
}
.festival_card_container .card-img-top {
	object-fit: cover;
	object-position: top;
	width: 100%;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}
.festival_card_container .festival_location {
	float: left;
	width: 80%;
	text-align: left;
	font-size: 0.75rem;
	font-weight: bold;
}
.festival_card_container .card_rating {
	float: left;
	display: flex;
	width: 20%;
	min-width: 12.5vmin;
	font-weight: bold;
}
/* 축제 목록 2x(가로 2개) 출력 시의 카드 폼(세로 방향) CSS */
.default_list_2x_layout .festival_card_container {
	width: 48%;
	margin: 1% 0.5%;
}
.default_list_2x_layout .festival_card_container .card {
	/* border: 0.1rem solid #F2F2F2; */
	border-radius: 0rem;
}
.default_list_2x_layout .festival_card_container .card-body {
	border-bottom-left-radius: 0rem;
	border-bottom-right-radius: 0rem;
	padding: 1.35vmax 1.4vmin;
	/* box-shadow: 0rem 0.125rem 0.125rem #00000016; */
}
.default_list_2x_layout .festival_card_container .card-img-top {
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
}
.default_list_2x_layout .festival_card_container .festival_location {
	width: auto;
	/* margin-right: 1.5vmin; */
}
.default_list_2x_layout .festival_card_container .card_rating {
	font-size: 0.75rem;
}
.default_list_2x_layout .rating_img img {
	width: 60%;
	height: 60%;
	margin-top: 9%;
}
.default_list_2x_layout .rating_txt p {
	text-align: left;
}
/* 축제 목록 수평방향(스와이프) 출력 시의 카드 폼(세로 방향) CSS */
.default_horizontal_layout .festival_card_container {
	margin-right: 4.15vmin;
}
.default_horizontal_layout .festival_card_container .card {
	width: 63vmin;
}
.default_horizontal_layout .festival_card_container .ratio {
	height: 75.6vmin;
}
.default_horizontal_layout .festival_card_container .card-img-top {
	min-height: 100%;
}
.default_horizontal_layout .festival_card_container .festival_location {
	width: auto;
}
.default_horizontal_layout .festival_card_container .card_rating {
	float: right;
}

/* 리뷰 출력할 카드 폼 CSS */
.review_card_container {
	display: inline-block;
	width: 100%;
	min-height: 16vmax;
	margin-bottom: 2.4vmax;
	padding: 0vmax 1vmin;
	font-size: 0.75rem;
	font-weight: bold;
}
.review_card_container .card {
	border: 0.1rem solid #F2F2F2;
	border-radius: 1rem;
	box-shadow: 0rem 0.125rem 0.25rem #00000016;
}
.review_card_container .card-body {
	padding: 1.1vmax;
	min-height: 16vmax;
}
.review_body {
	float: left;
	width: 85%;
	height: 100%;
	margin-right: 5%;
}
.review_btn_layout {
	float: left;
	width: 10%;
	height: 100%;
}
.review_body > .review_sub {
	display: flex;
	width: 100%;
	height: 2.16vmax;
	margin-bottom: 1.35vmax;
	align-items: center;
}
.review_body > .review_sub > .rating_layout {
	width: 20.3vmin;
	min-width: 20.3vmin;
}
.review_body > .review_sub > .day_for_write {
	display: flex;
	margin-top: 0.4vmax;
	margin-left: 0.83vmin;
}
.review_body > .review_sub > .day_for_write > p {
	color: gray;
	margin-bottom: 0vmax;
}
.review_body > .review_sub > .rating_layout > .rating_img {
	width: 4vmin;
	height: 2.16vmax;
	text-align: center;
}
.review_body > .review_sub > .rating_layout > .rating_img img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.review_card_container textarea {
	width: 100%;
	min-height: 8vmax;
	border: none;
}
.review_blind {
	color: red;
	font-style: italic;
}
#writeCount {
	width: 100%;
	text-align: right;
}
#writeCount p {
	color: gray;
	margin-bottom: 0vmax;
}

/* 아이콘 + 텍스트가 배치되는 레이아웃*/
.icon_layout {
	display: inline-block;
}
.icon_layout img {
	object-fit: contain;
}
/* 평점 아이콘 + 텍스트 */
.rating_img {
	width: 5vmin;
	height: 2.7vmax;
	text-align: right;
}
.rating_img img {
	width: 80%;
	height: 80%;
	vertical-align: top;
}
.rating_txt {
	width: 7.5vmin;
	height: 2.7vmax;
	letter-spacing: 0.0625rem;
	text-align: center;
	margin-left: 0.6vmin;
}

/* 페이지 상단으로 가는 버튼 */
.to_top_btn {
	position: fixed;
	bottom: 10.7vmax;
	right: 6vmin;
	width: 13vmin;
	height: 13vmin;
	padding: 0.6vmin;
	border-radius: 50%;
	background-color: #EBEBEBB3;
	font-size: 0.75rem;
	font-weight: 800;
	text-align: center;
}
.to_top_btn img {
	width: 45%;
	height: 45%;
	transform: rotate(90deg);
}

/* 모바일 하단 메뉴바 */
.bottom_menu {
	display: flex;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 8vmax;
	padding-top: 1vmax;
	z-index: 100;
	background-color: white;
	box-shadow: 0rem -0.125rem 0.25rem 0rem #0000001A;
}
.bottom_menu > div {
	width: 20%;
	height: 100%;
	text-align: center;
}
.bottom_menu img {
	object-fit: contain;
	width: 50%;
	height: 50%;
}
.bottom_menu > div > p {
	margin: 0vmin;
	font-size: 0.625rem;
	font-weight: 800;
	color: #191919;
}
.bottom_empty {
	height: 9vmax;
	width: 100%;
}
/* 로딩 이미지 */
.loading_img {
	display: flex;
	position: fixed;
	bottom: 8.5vmax;
	left: 0px;
	width: 100%;
	height: 5vmax;
	z-index: 50;
	align-items: center;
	justify-content: center;
}

/* 모바일 상단 메뉴바 */
.top_empty {
	width: 100%;
	height: 8vmax;
}
.top_menu {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 8vmax;
	z-index: 100;
	/* background-color: #F15600; */
	background-color: #FFFFFF;	
	box-shadow: 0rem 0.125rem 0.25rem 0rem #0000001A;
}
.top_menu > div {
	padding-top: 2vmax;
}
/* 일반 상태 */
.normal_top {
	display: flex;
}
.normal_top > div {
	height: 5vmax;
	width: 16%;
	text-align: center;
}
.normal_top img {
	object-fit: contain;
	height: 80%;
	width: 60%;
}
.page_title {
	width: 68% !important;
	text-align: left !important;
	margin-left: 10vmin;
}
.page_title > p {
	font-size: 1.25rem;
	font-weight: bold;
	color: #191919;
	margin: 0vmin;
}
/* 검색 활성 상태 */
.search_top {
	display: flex;
	padding-left: 5.5vmin;
	padding-right: 5.5vmin;
	text-align: left;
	justify-content: end;
}
.search_box {
	width: 95%;
	height: 4.5vmax;
	border-radius: 6.25rem;
	background-color: #EBEBEBB3;
	padding-left: 1.389vmin;
	float: right;
}
.search_input {
	width: 90%;
	height: 4.5vmax;
	border: none;
	background-color: #FFFFFF00;
    font-size: 0.875rem;
}
.search_input::placeholder {
	font-style: italic;
}
.search_btn {
	float: left;
	width: 10%;
	height: 4.5vmax;
	object-fit: contain;
	font-size: 0.875rem;
	padding: 1.11vmin;
}
.search_close {
	width: 5%;
	height: 4.5vmax;
}
.search_close > img {
	width: 100%;
	height: 100%;
	object-fit: fill;
	transform: rotate(180deg);
}

/* 축제 일정 조회 화면 */
.empty_space {
	width: 100%;
	height: 6.4vmax;
}
.select_space {
	position: fixed;
	top: 7.8vmax;
	left: 0px;
	width: 100%;
	height: 6vmax;
	z-index: 1;
	/* background-color: #F5F5F5; */
	background-color: #FFFFFF;
}
.select_btn_space {
	display: flex;
	height: 100%;
	margin-left: 1vmin;
	padding-top: 3vmin;
	padding-bottom: 1vmin;
	align-items: center;
	font-weight: normal;
	font-size: smaller;
}
.horizontal_menu {
	height: 4vmax;
	position: fixed;
	top: 13.5vmax;
	left: 0px;
	z-index: 1;
	background-color: #FFFFFF;
	align-items: center;
	justify-content: start;
	text-align: center;
	border-bottom: 0.0625rem solid #EBEBEB;
}
.horizontal_menu_item {
	width: 16.6vmin;
	height: 100%;
}
.horizontal_menu_item p {
	display: inline-block;
	margin-bottom: 0px;
	height: 90%;
	border-bottom: none;
	font-size: smaller;
}
.selected_week {
	border-bottom: 0.2rem solid #F15600 !important;
}
.select_calendar_btn {
	padding-left: 1vmin;
	height: 100%;
	border: none;
	-webkit-appearance: none;	/* 크롬 화살표 없애기 */
	-moz-appearance: none;		/* 파이어폭스 화살표 없애기 */
	appearance: none;			/* 화살표 없애기 */
}
#separate_select {
	width: 0.13rem;
	height: 55%;
	margin-right: 0.625rem;
	margin-left: 0.3125rem;
	border-radius: 2rem;
	/* background-color: #191919; */
	background-color: #F15600;
}
#select_month {
	width: 13vmin;
	text-align-last: center;	/* 글자 가운데 정렬 */
}
#select_location {
	width: 25vmin;
}
.form-check-label {
	width: 65vmin;
}
.week_bar {
	width: 97vmin;
	height: 6.5vmax;
	margin: 0.5vmax 1.5vmin 4.05vmax 1.5vmin;
	padding: 1.5vmax 8vmin;
	background: #F5F5F5;
	box-shadow: 0rem 0.125rem 0.25rem #0000001A;
	border-radius: 0.5rem;
}
.week_bar h3 {
	font-size: 1.25rem;
	font-weight: bold;
	margin: 0vmin;
}

/* 북마크 목록에 보이는 북마크 이미지 */
.mybookmark {
	position: absolute;
	top: 2.5vmin;
	right: 2.5vmin;
	width: 14vmin;
	height: 14vmin;
}

/* sweet modal 디자인 변경 */
.swal-icon:first-child {
	margin-top: 15px !important;
}
.swal-icon {
	margin: 20px auto !important;
}
.swal-footer {
	margin-top: 0px !important;
	padding: 13px 16px !important;
	text-align: center !important;
}
.swal-button {
	padding: 6px 24px !important;
	margin: 0px !important;
	width: 100% !important;
}
.swal-button-container {
	width: 60% !important;
}
