@charset "UTF-8";

.btn-primary-mobile {
  color: #fff;
  background-color: #F15600 !important;
  border-color: #F15600 !important;
}


.shadow-lg-mobile {
    box-shadow: 0 !important;
}

 .a-mobile {
 	color: black !important;
 	text-decoration: none;
  	background-color: transparent;
    
 
 }

.a-mobile:hover {
  /*color: #224abe;*/
  text-decoration: underline;
}

.myticket {
	display: inline-block;
	width: 100%;
	text-align: left;
}

.qrdesc {
	width: 54%;
	float: left;
}

.qr-container {
	width: 45%;
	height: 100%;
	float: left;
	text-align: center;
}

.qr {
	width: 100%;
	height: 100%;
}

.myticket_form {
	width: 100vmin;
	height: 80vmax;
	padding-top: 3vmax;
	padding-bottom: 6vmax;
	margin: 2.7vmax 0vmin;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	/* box-shadow: 0vw 0.15625rem 0.125rem 0vw #0000001A; */
}

.myticket-content {
	
}

.qr-content {
	height: 15vmax;
}	



