@charset "UTF-8";
/* 폰트 패밀리 설정 */
@font-face {
    font-family: 'nanum';
    font-weight: 300;
    src: url('../font/NanumSquareRoundL.ttf') format('truetype');
}
@font-face {
    font-family: 'nanum';
    font-weight: normal;
    src: url('../font/NanumSquareRoundR.ttf') format('truetype');
}
@font-face {
    font-family: 'nanum';
    font-weight: bold;
    src: url('../font/NanumSquareRoundB.ttf') format('truetype');
}
@font-face {
    font-family: 'nanum';
    font-weight: 800;
    src: url('../font/NanumSquareRoundEB.ttf') format('truetype');
}

/* fadeIn, fadeOut 애니메이션 스타일 정의 */
/* 아래에서 위로 나타나는 애니메이션 스타일 */
@keyframes fadein_frombottom {
	from {
		bottom: -55vmax;
	}
	to {
		bottom: 8vmax;
	}
}
/* 위에서 아래로 사라지는 애니메이션 스타일 */
@keyframes fadeout_tobottom {
	from {
		bottom: 8vmax;
	}
	to {
		bottom: -55vmax;
	}
}

/* 공통 적용 */
body {
	position: relative;
	background: #FFFFFF;
	font-family: 'nanum' !important;
	font-size: 16px;
	color: #191919;
}
/* <a>태그 기본 스타일 제거 */
.link_anchor, .link_anchor:visited {
	color: #191919;
	text-decoration : none;
}
.link_anchor:active {
	color: #191919;
	text-decoration : none;
}
/* textarea 스타일 설정 */
textarea {
	resize: none !important;
}
textarea::placeholder {
	font-style: italic;
}
/* 문단 형태의 텍스트 */
.multi_line_text p {
	white-space: pre-line;
	margin-bottom: 0vmax;
}

/* 추천 축제 목록 레이아웃 */
.recommend_list_layout {
	width: 100vmin;
	height: 60vmax;
	padding-top: 3vmax;
	padding-bottom: 6vmax;
	margin: 2.7vmax 0vmin;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	box-shadow: 0vw 0.15625rem 0.125rem 0vw #0000001A;
}
.carousel-indicators {
	margin: 0.5rem 0rem 0rem 0rem;
}
.carousel-indicators > button {
	width: 4vmin !important;
	height: 4vmin !important;
	background: #F15600 !important;
	border: 0.0625rem solid #F15600 !important;
	border-radius: 50% !important;
	margin-left: 1.12vmin !important;
	margin-right: 1.12vmin !important;
}

/* 기본 축제 목록 레이아웃 */
.default_list_layout {
	width: 100%;
	padding: 0vmin 8.3vmin;
	margin: 4.05vmax 0vmin 1.35vmax 0vmin;
}
.default_list_layout h3 {
	margin-bottom: 4.05vmax;
	font-weight: bold;
	font-size: 1.25rem;
}

/* 축제 상세 페이지 레이아웃 */
.festival_info_layout {
	padding: 0vmax 5vmin;
	font-weight: 800;
}
.festival_info_sub_title {
	margin-bottom: 2.7vmax;
}
.festival_info_sub_title h3 {
	font-weight: bold !important;
	display: inline-block;
	margin-bottom: 0vmax;
}
.d-day_info {
	display: inline-block;
	font-weight: bold !important;
	padding: 0.125rem 0.75rem !important;
}
#fes_title {
	display: inline-block;
	width: 65%;
	height: 100%;
	text-align: left;
}
#fes_status {
	display: inline-block;
	width: 30%;
	height: 100%;
	text-align: right;
}
.layout_bottom_line {
	border-bottom: 0.0625rem solid #C4C4C4;
	margin-bottom: 4.7vmax;
	padding-bottom: 4.05vmax;
}
.place_img {
	width: 5vmin;
	height: 2.7vmax;
}
/* 인덱스 메뉴(탭 클릭 시 해당 위치로 이동) */
.index_menu_empty {
	width: 100%;
	height: 8vmax;
}
.index_menu {
	position: fixed;
	top: 8vmax;
	left: 0px;
	width: 100%;
	height: 5vmax;
	z-index: 1;
	background-color: #FFFFFF;
}
.index_menu table {
	width: 100%;
	height: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 0.875rem;
}
.index_menu td {
	width: 20%;
	height: 100%;
	border-width: 0rem 0.0625rem 0.0625rem 0.0625rem;
	border-style: solid;
	border-color: #EBEBEB;
	border-collapse: collapse;
}
/* 이미지 */
.festival_info_layout .carousel {
	padding: 0vmax 3.5vmin;
}
.festival_info_layout .carousel-item {
	width: 83vmin;
	text-align: center;
}
.img_layout {
	width: 100%;
	object-fit: contain;
}
/* 상세 정보 메뉴(북마크, 입장권 구매, 리뷰)*/
.festival_info_menu_container {
	padding: 0vmax 3.5vmin;
}
.festival_info_menu {
	width: 83vmin;
	height: 8vmax;
	margin-top: 0.5vmax;
	margin-bottom: 2.7vmax;
	border: 0.0625rem solid #EBEBEB;
	border-radius: 0.8rem;
	background-color: #F5F5F5;
	font-size: 0.625rem;
}
.festival_info_menu_empty {
	float: left;
	width: 5%;
	height: 100%;
}
.festival_info_menu .icon_layout {
	float: left;
	width: 30%;
	height: 100%;
	text-align: center;
	justify-content: center;
	padding-top: 1.5vmax;
}
.festival_info_menu .icon_layout img {
	object-fit: contain;
	width: 50%;
	height: 50%;
	margin-bottom: 0.095rem;
}
/* 상세정보 출력 테이블 */
.detail_info {
	width: 100%;
	background-color: #F5F5F5;
}
.detail_info th {
	width: 20%;
	height: 4.45vmax;
	padding-left: 1.4vmin;
	font-weight: 800;
}
.detail_info td {
	width: 80%;
	height: 4.45vmax;
	padding-left: 2.7vmin;
	font-weight: bold;
}
/* 입장권 구매 모달 창 */
.ticket_modal_layout {
	position: fixed;
	width: 90vmin;
	height: 45vmax;
	left: 5vmin;
	bottom: -55vmax;
	/* bottom: 8vmax; */	
	font-weight: 800;
	color: #5B5B5B;
	z-index: 1;
	background-color: #FFFFFF;
	border-top-left-radius: 1.25rem;
	border-top-right-radius: 1.25rem;
}
.fadeout_bottom_close {
	width: 100%;
	height: 4vmax;
	background-color: #D7D8D9;
	border-top-left-radius: 1.25rem;
	border-top-right-radius: 1.25rem;
	box-shadow: 0rem 0rem 0.25rem #00000016;
	text-align: center;
}
.fadeout_bottom_close img {
	width: 4vmax;
	height: 4vmax;
	object-fit: contain;
	transform: rotate(-90deg);
}
.ticket_modal_body {
	width: 100%;
	height: 41vmax;
	padding: 2.7vmax 3.5vmin 0.3vmax 3.5vmin;
	box-shadow: 0rem 0rem 0.25rem #00000016;
}
.modal_body_content, .modal_body_btn_layout {
	width: 100%;
	height: 9vmax;
}
.modal_body_content {
	display: flex;
	justify-content: center;
	padding: 1.35vmax 0vmin;
}
.modal_body_btn {
	justify-content: center !important;
}
.modal_body_content > div {
	display: flex;
	float: left;
	justify-content: right;
	align-items: center;
}
.modal_body_content_title {
	width: 25%;
	height: 100%;
}
.modal_body_content_main {
	width: 35%;
	height: 100%;
}
.modal_body_content_sub {
	width: 10%;
	height: 100%;
	margin-right: 5vmin;
}
.modal_body_content input {
	width: 60%;
	height: 60%;
	text-align: right;
}
.modal_body_btn {
	width: 50%;
	height: 100%;
	font-size: 1.1875rem;
	padding: 1vmax 0vmin;
}
.modal_cancel {
	background-color: #F5F5F5;
}
.modal_submit {
	color: #FFFFFF;
	background-color: #F15600;	
}

/* 축제 목록 출력 시의 카드 폼(세로 방향) CSS */
.festival_card_container {
	display: inline-block;
	width: 83vmin;
	cursor: pointer;
	margin-bottom: 8.3vmin;
	font-size: 0.875rem;
	font-weight: 800;
}
.festival_card_container .card {
	border: 0.1rem solid #F2F2F2;
	border-radius: 1rem;
}
.festival_card_container .card-body {
	padding-top: 1.1vmax;
}
.festival_card_container .ratio {
	--bs-aspect-ratio: 120%;
}
.festival_card_container .card-img-top {
	object-fit: cover;
	width: 100%;
}
.festival_card_container .festival_location {
	display: inline-block;
	width: 80%;
	text-align: left;
}

/* 리뷰 출력할 카드 폼 CSS */
.review_card_container {
	display: inline-block;
	width: 100%;
	min-height: 16vmax;
	margin-bottom: 2.4vmax;
	padding: 0vmax 1vmin;
	font-size: 0.75rem;
	font-weight: bold;
}
.review_card_container .card {
	border: 0.1rem solid #F2F2F2;
	border-radius: 1rem;
	box-shadow: 0rem 0.125rem 0.25rem #00000016;
}
.review_card_container .card-body {
	padding: 1.1vmax;
}
.review_body {
	float: left;
	width: 90%;
	height: 100%;
}
.review_btn_layout {
	float: left;
	width: 10%;
	height: 100%;
}
.review_body > .rating_layout {
	margin-bottom: 1.35vmax;
}
.review_body > .rating_layout > .rating_img {
	width: 4vmin;
	height: 2.16vmax;
	text-align: center;
}
.review_body > .rating_layout > .rating_img img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

/* 아이콘 + 텍스트가 배치되는 레이아웃*/
.icon_layout {
	display: inline-block;
}
.icon_layout img {
	object-fit: contain;
}
/* 평점 아이콘 + 텍스트 */
.rating_img {
	width: 5vmin;
	height: 2.7vmax;
	text-align: right;
}
.rating_img img {
	width: 80%;
	height: 80%;
	vertical-align: top;
}
.rating_txt {
	width: 7.5vmin;
	height: 2.7vmax;
	letter-spacing: 0.0625rem;
	text-align: left;
	font-weight: 800;
}

/* 페이지 상단으로 가는 버튼 */
.to_top_btn {
	position: fixed;
	bottom: 10.7vmax;
	right: 6vmin;
	width: 13vmin;
	height: 13vmin;
	padding: 0.6vmin;
	border-radius: 50%;
	background-color: #EBEBEBB3;
	font-size: 0.75rem;
	font-weight: 800;
	text-align: center;
}
.to_top_btn img {
	width: 45%;
	height: 45%;
	transform: rotate(90deg);
}

/* 모바일 하단 메뉴바 */
.bottom_menu {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 8vmax;
	z-index: 100;
	background-color: white;
	box-shadow: 0rem -0.125rem 0.25rem 0rem #0000001A;
}
.bottom_menu > div {
	float: left;
	width: 25%;
	height: 100%;
	text-align: center;
	padding-top: 1vmax;
}
.bottom_menu img {
	object-fit: contain;
	width: 50%;
	height: 50%;
}
.bottom_menu > div > p {
	margin: 0vmin;
	font-size: 0.625rem;
	font-weight: 800;
	color: #191919;
}
.bottom_empty {
	height: 9vmax;
	width: 100%;
}

/* 모바일 상단 메뉴바 */
.top_empty {
	width: 100%;
	height: 8.5vmax;
}
.top_menu {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 8vmax;
	z-index: 100;
	background-color: #F15600;
	box-shadow: 0rem 0.125rem 0.25rem 0rem #0000001A;
}
.top_menu > div {
	padding-top: 2vmax;
}
/* 일반 상태 */
.normal_top > div {
	float: left;
	height: 5vmax;
	width: 16%;
	text-align: center;
}
.normal_top img {
	object-fit: contain;
	height: 80%;
	width: 60%;
}
.page_title {
	width: 68% !important;
	text-align: left !important;
	margin-left: 10vmin;
}
.page_title > p {
	font-size: 1.1875rem;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0vmin;
}
/* 검색 활성 상태 */
.search_top {
	padding-left: 5.5vmin;
	padding-right: 5.5vmin;
	text-align: left;
}
.search_box {
	width: 95%;
	height: 4.5vmax;
	border-radius: 6.25rem;
	background-color: #FFFFFFB3;
	padding-left: 1.389vmin;
	float: right;
}
.search_input {
	width: 90%;
	height: 4.5vmax;
	border: none;
	background-color: #FFFFFF00;
	font-style: italic;
    font-size: 0.875rem;
}
.search_btn {
	float: left;
	width: 10%;
	height: 4.5vmax;
	object-fit: contain;
	font-size: 0.875rem;
	padding: 1.11vmin;
}
.search_close {
	width: 5%;
	height: 4.5vmax;
	float: left;
}
.search_close > img {
	width: 100%;
	height: 100%;
	object-fit: fill;
	transform: rotate(180deg);
}

/* 축제 일정 조회 화면 */
.empty_space {
	width: 100%;
	height: 6.4vmax;
}
.select_space {
	position: fixed;
	top: 8vmax;
	left: 0px;
	width: 100%;
	height: 6.4vmax;
	z-index: 1;
	background-color: #F5F5F5;
}
.select_btn_space {
	margin-left: 8.3vmin;
	height: 100%;
	padding: 2vmin 0vmin;
	font-weight: normal;
}
.select_calendar_btn {
	margin-right: 2vmin;
	padding-left: 1vmin;
	height: 100%;
	border: none;
	border-radius: 0.5rem;
	background-color: #FFFFFF;
	box-shadow: 0.012rem 0.12rem 0.24rem 0rem #0000001A
}
#select_month {
	width: 18vmin;
}
#select_location {
	width: 25vmin;
}
.form-check-label {
	width: 65vmin;
}
.week_bar {
	width: 97vmin;
	height: 6.5vmax;
	margin: 0.5vmax 1.5vmin 4.05vmax 1.5vmin;
	padding: 1.5vmax 8vmin;
	background: #F5F5F5;
	box-shadow: 0rem 0.125rem 0.25rem #0000001A;
	border-radius: 0.5rem;
}
.week_bar h3 {
	font-size: 1.25rem;
	font-weight: bold;
	margin: 0vmin;
}