@charset "UTF-8";

.btn-primary-mobile {
  color: #fff;
  background-color: #F15600 !important;
  border-color: #F15600 !important;
}


.shadow-lg-mobile {
    box-shadow: 0 !important;
}

 .a-mobile {
 	color: black !important;
 	text-decoration: none;
  	background-color: transparent;
    
 
 }

.a-mobile:hover {
  /*color: #224abe;*/
  text-decoration: underline;
}

/* QR 인식용 입장권 카드(세로 form) 스타일 */
.myticket_form {
	width: 100vmin;
	height: 84vmax;
	padding-top: 1vmax;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
}
.myticket-content {
	padding-bottom: 0vmin !important;
	box-shadow: 0rem 0.225rem 0.225rem #00000016 !important;
}
.myticket {
	width: 100%;
	text-align: left;
}
.ticket_title {
	border-bottom: 0.084rem solid #E0E0E0;
	padding-bottom: 0.9375rem;
}
.qr-content {
	display: flex;
	height: 17vmax;
	align-items: center;
	justify-content: space-between;
}
.qrdesc {
	width: 54%;
}
.qr-container {
	display: flex;
	width: 46%;
	height: 100%;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.qrResult {
	width: 100%;
	height: 100%;
}
.qr {
	width: 100%;
	height: 100%;
	object-fit: contain;
}









