<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- mapper의 namespace와 Interface 경로 동일하게 설정 >> mapper 후보로 등록 -->
<mapper namespace="com.joyous.festivalolle.admin.repository.IAdminRepository">
		
	<!-- 로그인 -->
	<select id="adminLogin" resultType="com.joyous.festivalolle.admin.model.AdminVO">
		<![CDATA[
			SELECT * FROM FESTIVALOLLE.v_admin WHERE id = #{id} AND password = #{password}
		]]>
	</select>
	
	<!-- 관리자 등록 -->
	<insert id="registerAdmin" parameterType="com.joyous.festivalolle.admin.model.AdminVO">
		<![CDATA[
		INSERT INTO festivalolle.admin
			(admin_code, id, password, organization_code, name, 
			telephone, email)
		VALUES
			(admin_code_seq.NEXTVAL, #{id}, #{password}, #{organizationCode}, 
			#{name}, #{telephone}, #{email})
		]]>
	</insert>
	
	<!-- 관리자 등록 -->
	<!-- 아이디 중복 확인 -->
	<!-- 이메일 중복 확인 -->
	<!-- 휴대폰번호 중복 확인 -->
	<select id="overlapChk" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM admin
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="email != null">
				AND EMAIL = #{email}
			</if>
			<if test="telephone != null">
				AND telephone = #{telephone}
			</if>
		</where>
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findId" parameterType="String" resultType="String">
		SELECT id FROM admin WHERE name = #{name} AND telephone = #{telephone}
	</select>
		
	<!-- 관리자 등록 페이지: 기관명으로 기관 코드 가져오기 -->
	<select id="organizationCode" resultType="int">
		<![CDATA[
		SELECT organization_code FROM festivalolle.organization WHERE organization_name = #{organizationName}
		]]>
	</select>
	
	<!-- <select id="getAdminList" resultType="com.joyous.festivalolle.admin.model.AdminVO">
		
		SELECT id, organization_name, address, name, telephone, email, request_time, approve_time, status FROM festivalolle.v_admin WHERE status != 0
	
	</select> -->
	
	<!-- 관리자 계정 리스트 출력 -->
	<select id="getAdminList" resultType="com.joyous.festivalolle.admin.model.AdminVO" parameterType="String">
		SELECT id, organization_name, address, name, telephone, email, 
				request_time, approve_time, status 
		FROM festivalolle.v_admin
		WHERE status != 0
			AND status != 3
			AND status != 4		
			<if test="id != null">
				AND id = #{id}
			</if>		
		ORDER BY 7 DESC
								
	</select>
	
	<!-- 관리자 계정 상태 업데이트: 승인처리 -->
	<update id="adminApproval" parameterType="String">
		UPDATE admin
		SET status = 2, approve_time = TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS')
		WHERE id= #{id}
	</update> 
	
	<!-- 관리자 계정 검색 --><!-- 이거 안씀 -->
	<select id="adminSearch" resultType="com.joyous.festivalolle.admin.model.AdminVO" parameterType="String">
		SELECT * FROM v_admin
		WHERE id LIKE '%'|| #{keyword} || '%' 
			OR name LIKE '%'|| #{keyword} || '%' 
			OR organization_name LIKE '%'|| #{keyword} || '%'
			OR telephone LIKE '%'|| #{keyword} || '%'
	</select>
	
	<!-- 전체 목록 개수 (Pagination)-->
	<select id="countBoard" parameterType="String" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM v_admin 
				WHERE  (status != 0 AND status != 3 AND status != 4)
		]]>
		            <if test="keyword != null">
		            	<![CDATA[
			                AND (id LIKE '%'|| #{keyword} || '%' 
			                OR name LIKE '%'|| #{keyword} || '%'
			                OR organization_name LIKE '%'|| #{keyword} || '%'
			                OR telephone LIKE '%'|| #{keyword} || '%') 
		                ]]>
		             </if>
	</select>
	
	<!-- 페이징: 리스트 가져오기 -->	
	<select id="selectBoard1" parameterType="Map" resultType="com.joyous.festivalolle.admin.model.AdminVO">
		<![CDATA[	
		SELECT * FROM 
			(SELECT ROWNUM RN, A.* FROM 
		        (SELECT * FROM v_admin
		            WHERE (
		            (status != 0 AND status != 3 AND status != 4)
		 ]]>
		            <if test="keyword != null">
		            	<![CDATA[
			                AND (id LIKE '%'|| #{keyword} || '%' 
			                OR name LIKE '%'|| #{keyword} || '%'
			                OR organization_name LIKE '%'|| #{keyword} || '%'
			                OR telephone LIKE '%'|| #{keyword} || '%') 
		                ]]>
		             </if>
		 <![CDATA[	
		                )   
						ORDER BY 8 DESC) A)
							WHERE RN BETWEEN #{start} AND #{end}		
		 ]]>
	</select>
	
	<!-- 페이징: 리스트 가져오기 NVL쓰기-->	
	<select id="selectBoard" parameterType="Map" resultType="com.joyous.festivalolle.admin.model.AdminVO">
		<![CDATA[	
		SELECT * FROM 
			(SELECT ROWNUM RN, A.* FROM 
		        (SELECT admin_code, id, organization_code, name, telephone, 
		        email, request_time, NVL(approve_time, '-') AS approve_time, status, 
		        organization_name, address FROM v_admin
		            WHERE (
		            (status != 0 AND status != 3 AND status != 4)
		 ]]>
		            <if test="keyword != null">
		            	<![CDATA[
			                AND (id LIKE '%'|| #{keyword} || '%' 
			                OR name LIKE '%'|| #{keyword} || '%'
			                OR organization_name LIKE '%'|| #{keyword} || '%'
			                OR telephone LIKE '%'|| #{keyword} || '%') 
		                ]]>
		             </if>
		 <![CDATA[	
		                )   
						ORDER BY request_time DESC) A)
							WHERE RN BETWEEN #{start} AND #{end}		
		 ]]>
	</select>
	
	<!-- 인증번호 대조용 db insert -->
	<!-- 관리자 등록 -->
	<insert id="insertVerifNum" parameterType="String">
		<![CDATA[
		INSERT INTO festivalolle.admin
			(admin_code, id, password, organization_code, name, 
			telephone, email)
		VALUES
			(admin_code_seq.NEXTVAL, #{id}, #{password}, #{organizationCode}, 
			#{name}, #{telephone}, #{email})
		]]>
	</insert>
	
	
	
	
	
	
	
	
	
	
	
	
	



</mapper>



