<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- mapper의 namespace와 Interface 경로 동일하게 설정 >> mapper 후보로 등록 -->
<mapper namespace="com.joyous.festivalolle.admin.repository.IAdminRepository">
	
<!-- =======================================================회원 총 인원=============================================================== -->
<!-- 	<select id="countMember" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM FESTIVALOLLE.MEMBER
		]]>	
	</select>
	 -->
<!-- ====================================================================================================================== -->
	
	<select id="adminLogin" resultType="com.joyous.festivalolle.admin.model.AdminVO">
		<![CDATA[
			SELECT * FROM FESTIVALOLLE.v_admin WHERE id = #{id} AND password = #{password}
		]]>
	</select>
	
	




</mapper>



