<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- mapper의 namespace와 Interface 경로 동일하게 설정 >> mapper 후보로 등록 -->
<mapper namespace="com.joyous.festivalolle.festivalReview.repository.IFestivalReviewRepository">

<!-- 작성자: 이혜성 -->
	
	<!-- 축제 리뷰 전체 리스트 출력 -->
	<select id="festivalReviewList" parameterType="int" resultType="com.joyous.festivalolle.festivalReview.model.V_ReviewListVO">
		select * from V_REVIEW_LIST where organization_code = #{organizationCode}
		ORDER BY write_date ASC
	</select>
	
	<!-- 축제 리뷰 리스트 전체 수  -->
	<select id="totalFestivalReviewCount" parameterType="int" resultType="int"> 
		select*count from V_REVIEW_LIST where organization_code = #{organizationCode}
	</select>

	<!-- 특정 1개의 축제 리뷰 - review_code 기준 -->
	<select id="selectReview" parameterType="int" resultType="com.joyous.festivalolle.festivalReview.model.V_ReviewListVO"> 
	    select * from V_REVIEW_LIST where festival_review_code = #{festivalReviewCode}
	</select>
	
	<!-- 축제 리뷰 출력- 신고된 리뷰 상태 기준 -->
	<select id="selectReport" parameterType="int" resultType="com.joyous.festivalolle.festivalReview.model.V_ReviewListVO"> 
		select * from V_REVIEW_LIST where status = 1 and  organization_code = #{organizationCode}
		ORDER BY write_date desc
	</select>
		
	<!-- 신고된 리뷰 블라인드 처리 -->
	<select id="setBlind" parameterType="int" resultType="com.joyous.festivalolle.festivalReview.model.V_ReviewListVO"> 
	    UPDATE V_REVIEW_LIST SET status = 2 WHERE festival_review_code = #{festivalReviewCode}
	</select>
	
	<!-- 신고된 리뷰 신고철회 처리 -->
	<select id="setNormal" parameterType="int" resultType="com.joyous.festivalolle.festivalReview.model.V_ReviewListVO"> 
	    UPDATE V_REVIEW_LIST SET status = 0 WHERE festival_review_code = #{festivalReviewCode}
	</select>
	
		<!-- 리뷰 검색: 아이디, 내용, 축제명으로 검색  -->
	<select id="searchReview" resultType="com.joyous.festivalolle.festivalReview.model.V_ReviewListVO">
		<![CDATA[
			SELECT * 
			FROM V_REVIEW_LIST
			where organization_code = #{organizationCode}
		]]>
			<choose>
				<when test="tableBox == 'id'">
					<![CDATA[and id LIKE '%'|| #{reviewKeyword} || '%']]>
				</when>
				<when test="tableBox == 'content'">
					<![CDATA[and content LIKE '%'|| #{reviewKeyword} || '%']]>
				</when>
				<when test="tableBox == 'title'">
					<![CDATA[and title LIKE '%'|| #{reviewKeyword} || '%']]>
				</when>
				<otherwise>
					<![CDATA[and title LIKE ' ']]>
				</otherwise>
			</choose>
		<![CDATA[ORDER BY write_date desc]]>
	</select>
	
	<!-- 연별 리뷰 리스트 -->	

	<select id="selectYearTitleList" resultType="com.joyous.festivalolle.festivalReview.model.V_ReviewListVO">
		<![CDATA[
			SELECT * 
			FROM V_REVIEW_LIST
			WHERE WRITE_DATE like  #{writeDate} and organization_code = #{organizationCode}
			ORDER BY write_date desc
		]]>
	</select>	
	
	<!-- 연별 리뷰 -->	

	<select id="selectYearReview" resultType="com.joyous.festivalolle.festivalReview.model.V_ReviewListVO">
		<![CDATA[
			SELECT * 
			FROM V_REVIEW_LIST
			WHERE festival_code = #{festivalCode}
			ORDER BY write_date desc
		]]>
	</select>	
		
</mapper>
	