<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- mapper의 namespace와 Interface 경로 동일하게 설정 >> mapper 후보로 등록 -->
<mapper namespace="com.joyous.festivalolle.festival.repository.IFestivalRepository">



<!-- ================================================ 축제 리스트 =================================================== -->	

	<select id="selectFestivalList" resultType="com.joyous.festivalolle.festival.model.festivalVO">
		<![CDATA[
			SELECT * 
			FROM FESTIVAL
		]]>
	</select>
	
<!-- ================================================ 축제 상세정보 =================================================== -->	

	<select id="selectFestivaInfo" resultType="com.joyous.festivalolle.festival.model.festivalVO">
		<![CDATA[
			SELECT * 
			FROM v_festival
			WHERE FESTIVAL_CODE = #{festivalCode}
		]]>
	</select>
	
<!-- ================================================ 축제 추가 =================================================== -->	

	<insert id="selectFestivaInfo" parameterType="com.joyous.festivalolle.festival.model.festivalVO">
		<![CDATA[
			INSERT INTO FESTIVAL(
				festival_code
				title
				state_name
				city_name
				address
				start_date
				end_date
				fee
				url
				organization_code
				telephone
				admin_name
				detail
				tags
				register_date
				status
				festival_image_code
				file_name
				image
				thumbnail
			)VALUES(
				festival_code_seq.NEXTVAL,  
				#{title}, 
				#{stateName}, 
				#{cityName},
				#{address}, 
				#{startDate}, 
				#{endDate}, 
				#{fee}, 
				#{url}, 
				#{organizationCode}, 
				#{telephone}, 
				#{adminName},
				#{detail},
				#{tags},
				SYSDATE,
				#{status}
				festival_image_code_seq, 
				#{fileName}
				#{image}
				#{thumbnail})
		]]>
	</insert>
	
<!-- ================================================ 축제 수정(삭제) =================================================== -->	

	<update id="updateFestival" parameterType="com.joyous.festivalolle.festival.model.festivalVO">
		<![CDATA[
			UPDATE
				FESTIVAL
			SET
				title = #{memberName}, 
				state_name = #{memberPassword}, 
				city_name = #{memberEmail}, 
				address = #{memberPhone}, 
				start_date = #{memberJob}, 
				end_date = #{memberProfile}
				fee = #{fee}
				url = #{url}
				telephone = #{telephone}
				admin_name = #{adminName}
				detail = #{detail}
				tags = #{tags}
				register_date = 
				status = 
			WHERE
				FESTIVAL_CODE = #{festivalCode}
		]]>

	</update>

</mapper>

<!-- 작성자 : 정재웅 -->