<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- mapper의 namespace와 Interface 경로 동일하게 설정 >> mapper 후보로 등록 -->
<mapper namespace="com.joyous.festivalolle.festival.repository.IFestivalRepository">



<!-- ================================================ 축제 리스트 =================================================== -->	

	<select id="selectFestivalList" parameterType="int" resultType="com.joyous.festivalolle.festival.model.FestivalVO">
		<![CDATA[
			SELECT * 
			FROM FESTIVAL
			WHERE organization_code = #{organizationCode}
			ORDER BY register_date DESC
		]]>
	</select>
	
	
<!-- ================================================ 축제 진행상황별 리스트 =================================================== -->	

	<select id="selectStatusFestivalList" parameterType="com.joyous.festivalolle.festival.model.FestivalVO" resultType="com.joyous.festivalolle.festival.model.FestivalVO">
		<![CDATA[
			SELECT * 
			FROM FESTIVAL
			WHERE organization_code = #{organizationCode} and status = #{status}
			ORDER BY register_date DESC
		]]>
	</select>
	
<!-- ================================================ 축제 상세정보 =================================================== -->	

	<select id="selectFestivalInfo" parameterType="com.joyous.festivalolle.festival.model.FestivalVO" resultType="com.joyous.festivalolle.festival.model.FestivalVO">
		<![CDATA[
			SELECT * 
			FROM festival
			WHERE FESTIVAL_CODE = #{festivalCode} and organization_code = #{organizationCode}
		]]>
	</select>
	
<!-- ================================================ 월별 축제 리스트 =================================================== -->	

	<select id="selectYearTitleList" parameterType="com.joyous.festivalolle.festival.model.FestivalVO" resultType="com.joyous.festivalolle.festival.model.FestivalVO">
		<![CDATA[
			SELECT * 
			FROM festival
			WHERE start_date like  #{startDate} or end_date like  #{startDate} and organization_code = #{organizationCode}
		]]>
	</select>	
	
<!-- ================================================ 월별 축제 =================================================== -->	

	<select id="selectYearFestival" parameterType="com.joyous.festivalolle.festival.model.FestivalVO" resultType="com.joyous.festivalolle.festival.model.FestivalVO">
		<![CDATA[
			SELECT * 
			FROM festival
			WHERE festival_code = #{festivalCode}
		]]>
	</select>	
	
<!-- ================================================ 축제 추가 =================================================== -->	

	<insert id="insertFestival" parameterType="com.joyous.festivalolle.festival.model.FestivalVO">
		<selectKey keyProperty="festivalCode" resultType="int" order="BEFORE">
			<![CDATA[SELECT festival_code_seq.NEXTVAL FROM DUAL]]>
		</selectKey>
		<![CDATA[
			INSERT INTO FESTIVAL(
				festival_code,
				title,
				state_name,
				city_name,
				address,
				start_date,
				end_date,
				fee,
				url,
				organization_code,
				telephone,
				admin_name,
				detail,
				tags,
				register_date,
				status
			)VALUES(
				#{festivalCode},  
				#{title}, 
				#{stateName}, 
				#{cityName},
				#{address}, 
				#{startDate}, 
				#{endDate}, 
				#{fee}, 
				#{url}, 
				#{organizationCode}, 
				#{telephone}, 
				#{adminName},
				#{detail},
				#{tags},
				TO_CHAR(SYSDATE,'YYYY-MM-DD'),
				#{status})
				
		]]>
	</insert>
	
	<insert id="insertFestivalImage" parameterType="com.joyous.festivalolle.festival.model.FestivalVO">
		<selectKey keyProperty="festivalImageCode" resultType="int" order="BEFORE">
			<![CDATA[SELECT festival_image_code_seq.NEXTVAL FROM DUAL]]>
		</selectKey>
		<![CDATA[
			INSERT INTO FESTIVAL_IMAGE(
				festival_image_code,
				festival_code,
				file_name,
				image,
				thumbnail
			)VALUES(
				#{festivalImageCode},
				#{festivalCode}, 
				#{festivalCode} || #{festivalImageCode},
				#{image},
				#{thumbnail})
		]]>
	</insert>
	
<!-- ================================================ 축제 수정 =================================================== -->	

	<update id="updateFestival" parameterType="com.joyous.festivalolle.festival.model.FestivalVO">
		<![CDATA[
			UPDATE
				FESTIVAL
			SET
				title = #{title}, 
				state_name = #{stateName}, 
				city_name = #{cityName}, 
				address = #{address}, 
				start_date = #{startDate}, 
				end_date = #{endDate},
				fee = #{fee},
				url = #{url},
				telephone = #{telephone},
				admin_name = #{adminName},
				detail = #{detail},
				tags = #{tags},
				register_date = TO_CHAR(SYSDATE,'YYYY-MM-DD'),
				status = #{status}
			WHERE
				FESTIVAL_CODE = #{festivalCode} and organization_code = #{organizationCode}
		]]>

	</update>
	
<!-- ================================================ 이미지 수정 =================================================== -->	
	<update id="updateFestivalImage" parameterType="com.joyous.festivalolle.festival.model.FestivalVO">
		<![CDATA[
			UPDATE
				FESTIVAL_IMAGE
			SET
				image = #{image}
			WHERE
				festival_image_code = #{festivalImageCode}
		]]>

	</update>	
	
<!-- ================================================ 축제 수정(삭제) =================================================== -->	
	<update id="updateFestivalStatus" parameterType="com.joyous.festivalolle.festival.model.FestivalVO">
		<![CDATA[
			UPDATE
				FESTIVAL
			SET

				status = #{status}
			WHERE
				FESTIVAL_CODE = #{festivalCode} and organization_code = #{organizationCode}
		]]>

	</update>

</mapper>

<!-- 작성자 : 정재웅 -->