<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper의 namespace와 Interface 경로 동일하게 설정 >> mapper 후보로 등록 -->
<mapper namespace="com.joyous.festivalolle.festival.repository.IFestivalMainRepository">

	<select id="selectFestivalMainList" resultType="com.joyous.festivalolle.festival.model.FestivalMainVO">
		<![CDATA[
			SELECT * FROM festivalolle.v_festival_main WHERE status = 1
			ORDER BY end_date ASC, start_date ASC, rating DESC
		]]>
	</select>
	
	<select id="selectFestivalRecommendList" parameterType="int" resultType="com.joyous.festivalolle.festival.model.FestivalMainVO">
		<![CDATA[
			SELECT * FROM 
			(SELECT * FROM festivalolle.v_festival_main 
			WHERE status = 1
			ORDER BY (NVL(rating,0) * 0.5) + (visitors * 0.5) DESC)
			WHERE ROWNUM <= #{recommend}
		]]>
	</select>
	
	<select id="selectFestialInfo" parameterType="int" resultType="com.joyous.festivalolle.festival.model.FestivalVO">
		<![CDATA[
			SELECT * FROM festivalolle.v_festival
			WHERE festival_code = #{festivalCode}
		]]>
	</select>
	
	<select id="selectFestivalCalendarList" resultType="com.joyous.festivalolle.festival.model.FestivalMainVO">
		<![CDATA[
			SELECT * FROM festivalolle.v_festival_main 
			WHERE status != 0
			AND (start_date LIKE #{month} || '-__'
            OR end_date LIKE #{month} || '-__')
		]]>
		<if test="location != null">
            <![CDATA[AND state_name = #{location}]]>
		</if>
	</select>

	<select id="selectFestivalSearchList" parameterType="string" resultType="com.joyous.festivalolle.festival.model.FestivalMainVO">
		<![CDATA[
			SELECT * FROM festivalolle.v_festival_main 
			WHERE festival_code IN(
			SELECT festival_code FROM festivalolle.festival
			WHERE status != 0
			AND (title LIKE '%'|| #{keyword} || '%'
			OR state_name LIKE '%'|| #{keyword} || '%'
			OR city_name LIKE '%'|| #{keyword} || '%'
			OR address LIKE '%'|| #{keyword} || '%'
			OR detail LIKE '%'|| #{keyword} || '%'
			OR tags LIKE '%'|| #{keyword} || '%'
			)) ORDER BY status
		]]>
	</select>
</mapper>