<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- mapper의 namespace와 Interface 경로 동일하게 설정 >> mapper 후보로 등록 -->
<mapper namespace="com.joyous.festivalolle.festivalReview.repository.IFestivalReviewRepository">

<!-- 작성자: 이혜성 -->
	
	<!-- 축제 리뷰 전체 리스트 출력 -->
	 <select id="festivalReviewList" parameterType="int" resultType="com.joyous.festivalolle.festivalReview.model.V_ReviewListVO">
		SELECT * FROM V_REVIEW_LIST
		<choose>
			<when test='festivalCode != 0'>
				WHERE ORGANIZATION_CODE = #{organizationCode}
				 AND FESTIVAL_CODE = #{festivalCode}
			</when>
			<otherwise>
			    WHERE ORGANIZATION_CODE = #{organizationCode}
			</otherwise>
		</choose>
    		ORDER BY write_date DESC
	</select>
	
	<!-- 축제 리뷰 리스트 전체 수  -->
	<select id="totalFestivalReviewCount" parameterType="int" resultType="int"> 
		<![CDATA[
			SELECT * count FROM V_REVIEW_LIST 
			WHERE organization_code = #{organizationCode}
		]]>
		<if test= "reviewKeyword != null">
			<![CDATA[
				AND id LIKE '%'|| #{reviewKeyword} || '%'
				OR content LIKE '%'|| #{reviewKeyword} || '%'
				OR title LIKE '%'|| #{reviewKeyword} || '%'
			]]>
		</if>
	</select>

	<!-- 특정 1개의 축제 리뷰 - review_code 기준 -->
	<select id="selectReview" parameterType="int" resultType="com.joyous.festivalolle.festivalReview.model.V_ReviewListVO"> 
	    SELECT * FROM V_REVIEW_LIST WHERE festival_review_code = #{festivalReviewCode}
	</select>
	
	<!-- 축제 리뷰 출력- 신고된 리뷰 상태 기준 -->
	<select id="selectReport" parameterType="int" resultType="com.joyous.festivalolle.festivalReview.model.V_ReviewListVO"> 
		SELECT * FROM V_REVIEW_LIST 
			WHERE status = 1 
			AND  organization_code = #{organizationCode}
			ORDER BY write_date DESC
	</select>
		
	<!-- 신고된 리뷰 블라인드 처리 -->
	<select id="setBlind" parameterType="int" resultType="com.joyous.festivalolle.festivalReview.model.V_ReviewListVO"> 
	    UPDATE V_REVIEW_LIST SET status = 2 WHERE festival_review_code = #{festivalReviewCode}
	</select>
	
	<!-- 신고된 리뷰 신고철회 처리 -->
	<select id="setNormal" parameterType="int" resultType="com.joyous.festivalolle.festivalReview.model.V_ReviewListVO"> 
	    UPDATE V_REVIEW_LIST SET status = 0 WHERE festival_review_code = #{festivalReviewCode}
	</select>
	
		<!-- 리뷰 검색: 아이디, 내용, 축제명으로 검색  -->
	<select id="searchReview" resultType="com.joyous.festivalolle.festivalReview.model.V_ReviewListVO">
		<![CDATA[
			SELECT * FROM V_REVIEW_LIST
				WHERE organization_code = #{organizationCode}
		]]>
			<choose>
				<when test="tableBox == 'id'">
					<![CDATA[AND id LIKE '%'|| #{reviewKeyword} || '%']]>
				</when>
				<when test="tableBox == 'content'">
					<![CDATA[AND content LIKE '%'|| #{reviewKeyword} || '%']]>
				</when>
				<when test="tableBox == 'title'">
					<![CDATA[AND title LIKE '%'|| #{reviewKeyword} || '%']]>
				</when>
				<otherwise>
					<![CDATA[AND id LIKE ' '
							 OR content LIKE ' '
							 OR title LIKE ' ']]>
				</otherwise>
			</choose>
		<![CDATA[ORDER BY write_date DESC]]>
	</select>
	
	<!-- 연별 리뷰 리스트 -->	

	<select id="selectYearTitleList" resultType="com.joyous.festivalolle.festivalReview.model.V_ReviewListVO">
		<![CDATA[
			SELECT  DISTINCT TITLE, festival_code
	            FROM V_REVIEW_LIST
	           	WHERE write_date like #{writeDate} and organization_code = #{organizationCode}
		]]>
	</select>	
	
	<!-- 연별 리뷰 -->	

	<select id="selectYearReview" resultType="com.joyous.festivalolle.festivalReview.model.V_ReviewListVO">
		SELECT DISTINCT *FROM V_REVIEW_LIST
			WHERE (festival_code = #{festivalCode} and organization_code = #{organizationCode}
			ORDER BY write_date DESC
	</select>	
	
	<!-- 페이징 -->	
	<select id="selectBoard" parameterType="Map" resultType="com.joyous.festivalolle.festivalReview.model.V_ReviewListVO">
		<![CDATA[	
		SELECT * FROM 
			(SELECT ROWNUM RN, A.* 
			FROM 
				(SELECT * 
		        FROM V_REVIEW_LIST
		        WHERE organization_code = #{organizationCode}
		 ]]>
		<choose>
			<when test="tableBox == 'id'">
				<![CDATA[AND id LIKE '%'|| #{reviewKeyword} || '%']]>
			</when>
			<when test="tableBox == 'content'">
				<![CDATA[AND content LIKE '%'|| #{reviewKeyword} || '%']]>
			</when>
			<when test="tableBox == 'title'">
				<![CDATA[AND title LIKE '%'|| #{reviewKeyword} || '%']]>
			</when>
			<when test="radioInput != ''">
				<![CDATA[and status = #{radioInput}]]>
			</when>
			<when test="titleListInput != ''">
				<![CDATA[and festival_code = #{buyerKeyword}]]>
			</when>
		</choose>
		<![CDATA[
			ORDER BY register_date DESC) A)WHERE RN BETWEEN #{start} AND #{end}
		]]>
	</select>	
</mapper>
	