<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- mapper의 namespace와 Interface 경로 동일하게 설정 >> mapper 후보로 등록 -->
<mapper namespace="com.joyous.festivalolle.member.repository.IMemberRepository">

	
<!-- =======================================================회원 총 인원=============================================================== -->
	<select id="countMember" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM FESTIVALOLLE.MEMBER
		]]>
		
	</select>
	
	
<!-- ====================================================================================================================== -->

	<!-- 로그인 -->
	<select id="memberLogin" resultType="com.joyous.festivalolle.member.model.MemberVO">
		<![CDATA[
			SELECT * FROM FESTIVALOLLE.member WHERE id = #{id} AND password = #{password}
		]]>
	</select>
	<!-- 아이디와 전화번호에 해당하는 사용자의 계정 조회- 작성자: 이혜성 -->
	<select id="selectAcountInfo" resultType="int">
	  SELECT COUNT(*) FROM member 
	  WHERE name= #{name}
	  AND mobile=#{mobile}
	</select>

	<!-- 입력한 아이디와 전화번호에 해당하는 사용자의 아이디 조회- 작성자: 이혜성 -->
	<select id="findId" resultType="com.joyous.festivalolle.member.model.MemberVO">
	<![CDATA[
	SELECT id FROM member 
	WHERE  name = #{name} 
	AND mobile = #{mobile}
		]]>
	</select>
	
	<!-- 비밀번호 찾기용 계정 조회- 작성자: 이혜성 -->
	<select id="findPw" resultType="int">
	<![CDATA[
	SELECT COUNT(*) FROM member 
	WHERE  id = #{id} 
	AND  name = #{name} 
	AND mobile = #{mobile}
		]]>
	</select>
	
	<!-- 비밀번호 변경- 작성자: 이혜성 -->
	<select id="updatePassword" parameterType="string" resultType="com.joyous.festivalolle.member.model.MemberVO">
	<![CDATA[
 		UPDATE member SET password = #{password}
 		WHERE id = #{id}
 			]]>
	</select>
	
	<!-- 회원탈퇴- 작성자: 이혜성 -->
	<select id="unactiveMember" parameterType="string" resultType="com.joyous.festivalolle.member.model.MemberVO">
	<![CDATA[
 		UPDATE member SET STATUS= #{status}
 		WHERE password= #{password}
 			]]>
	</select>
	
	<!-- 회원탈퇴용 계정 조회- 작성자: 이혜성 -->
	<select id="findMember" resultType="int">
	<![CDATA[
	SELECT COUNT(*) FROM member 
	WHERE  password = #{password} 
		]]>
	</select>
	
	
	<!-- ======================================================================================= -->
	<select id="countMember2" resultType="int">
		<![CDATA[
			SELECT COUNT(*) 
			FROM member 
			WHERE member_code = #{memberCode} and password = #{password} 
		]]>
	</select>
	
	<!-- ======================================================================================= -->
	<select id="selectMember" parameterType="int" resultType="com.joyous.festivalolle.member.model.MemberVO">
		<![CDATA[
			SELECT *
			FROM member 
			WHERE member_code = #{memberCode} 
		]]>
	</select>
	
	<!-- ======================================================================================= -->
	<update id="updateMember" parameterType="com.joyous.festivalolle.member.model.MemberVO">
		<![CDATA[
			UPDATE member 
			SET 
				name = #{name},
				mobile = #{mobile}
 			WHERE member_code = #{memberCode}
		]]>
	</update>
	
	<!-- ======================================================================================= -->
	<update id="updatePassword2">
		<![CDATA[
			UPDATE member 
			SET password = #{password}
 			WHERE member_code = #{memberCode}
		]]>
	</update>
</mapper>
	