<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- mapper의 namespace와 Interface 경로 동일하게 설정 >> mapper 후보로 등록 -->
<mapper namespace="com.joyous.festivalolle.ticket.repository.IMypageTicketRepository">



<!-- ================================================ 티켓 리스트 =================================================== -->	

	<select id="selectTicketList" parameterType="int" resultType="com.joyous.festivalolle.ticket.model.TicketVO">
		<![CDATA[
			SELECT 
			ticket_Code,member_Code,festival_Code,head_Count,fee,coupon_Amount,purchase_Time,payment_Time,
			decode(entrance_time,null,'0', '1') entrance_time,
			decode(coupon_Use_Time,null,'0', '1')coupon_Use_Time,
			id,password,name,mobile,birth,gender,status,
			title,address,start_Date,end_Date
			FROM v_ticket_mypage
			where MEMBER_CODE = #{memberCode}
		]]>
	</select>
	
<!-- ================================================ 티켓 상세정보 =================================================== -->	

	<select id="selectTicketInfo" parameterType="int" resultType="com.joyous.festivalolle.ticket.model.TicketVO">
		<![CDATA[
		
			SELECT 
			ticket_Code,member_Code,festival_Code,head_Count,fee,coupon_Amount,purchase_Time,payment_Time,
			nvl(entrance_time,'미사용') entrance_time,
			nvl(coupon_Use_Time,'미사용')coupon_Use_Time,
			id,password,name,mobile,birth,gender,status,
			title,address,start_Date,end_Date,
			image,thumbnail
			FROM v_ticket_mypage
			where ticket_Code = #{ticketCode}
		]]>
	</select>
	

</mapper>

<!-- 작성자 : 정재웅 -->