<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- mapper의 namespace와 Interface 경로 동일하게 설정 >> mapper 후보로 등록 -->
<mapper namespace="com.joyous.festivalolle.ticket.repository.ITicketRepository">

<!-- 작성자: 이혜성 -->

	<!-- 구매자 전체 리스트 출력 -->
	<select id="ticketBuyerList" parameterType="int" resultType="com.joyous.festivalolle.ticket.model.V_ticketBuyerListVO">
		select  ID, NAME, MOBILE, PURCHASE_TIME,TITLE, nvl(ENTRANCE_TIME, '-') AS ENTRANCE_TIME,
		nvl(COUPON_USE_TIME, '-') AS COUPON_USE_TIME, FESTIVAL_CODE, ORGANIZATION_CODE
		FROM V_TICKET_BUYER_LIST
		<choose> 
			<when test='festivalCode != 0'>
				WHERE FESTIVAL_CODE = #{festivalCode}
				AND ORGANIZATION_CODE = #{organizationCode}
			</when>
			<otherwise>
				WHERE ORGANIZATION_CODE = #{organizationCode}
			</otherwise>
		</choose>
		ORDER BY purchase_time desc
	</select>
	
	<!-- 구매자 리스트 전체 수  -->
<!-- 	<select id="totalBuyerCount" parameterType="String" resultType="int"> -->
<!-- 		<![CDATA[ -->
<!-- 			SELECT COUNT(*) FROM v_ticket_buyer_list  -->
<!-- 				WHERE  (status != 1 and organization_code = #{organizationCode}) -->
<!-- 		]]> -->
<!-- 		            <if test="buyerKeyword != null"> -->
<!-- 		            	<![CDATA[ -->
<!-- 			                AND (id LIKE '%'|| #{buyerKeyword} || '%'  -->
<!-- 			                OR name LIKE '%'|| #{buyerKeyword} || '%' -->
<!-- 			                OR mobile LIKE '%'|| #{buyerKeyword} || '%')  -->
<!-- 		                ]]> -->
<!-- 		             </if> -->

<!-- 	</select> -->
	
 	<!-- 페이징: 리스트 가져오기 -->
<!-- 	<select id="selectBoard" parameterType="Map" resultType="com.joyous.festivalolle.ticket.model.V_ticketBuyerListVO"> -->
<!-- 		<![CDATA[	 -->
<!-- 		SELECT * FROM  -->
<!-- 			(SELECT ROWNUM RN, A.* FROM  -->
<!-- 		        (SELECT * FROM v_ticket_buyer_list -->
<!-- 		            WHERE (status != 1 and organization_code = #{organizationCode}) -->
<!-- 		 ]]> -->
<!-- 		            <if test="buyerKeyword != null"> -->
<!-- 		            	<![CDATA[ -->
<!-- 			                AND (id LIKE '%'|| #{buyerKeyword} || '%'  -->
<!-- 			                OR name LIKE '%'|| #{buyerKeyword} || '%' -->
<!-- 			                OR mobile LIKE '%'|| #{buyerKeyword} || '%')  -->
<!-- 		                ]]> -->
<!-- 		             </if> -->
<!-- 		 <![CDATA[	 -->
<!-- 		                )    -->
<!-- 						ORDER BY 8 DESC) A) -->
<!-- 							WHERE RN BETWEEN #{start} AND #{end}		 -->
<!-- 		 ]]> -->
<!-- 	</select> -->
	
	<!-- 구매자 검색: 아이디, 이름, 휴대폰번호로 검색  -->
	<select id="searchBuyer" resultType="com.joyous.festivalolle.ticket.model.V_ticketBuyerListVO">
		<![CDATA[
			SELECT ID, NAME, MOBILE, PURCHASE_TIME,TITLE, nvl(ENTRANCE_TIME, '-') AS ENTRANCE_TIME,
			nvl(COUPON_USE_TIME, '-') AS COUPON_USE_TIME, FESTIVAL_CODE, ORGANIZATION_CODE
			FROM V_TICKET_BUYER_LIST
			where organization_code = #{organizationCode}
		]]>
			<choose>
				<when test="tableBox == 'id'">
					<![CDATA[and id LIKE '%'|| #{buyerKeyword} || '%']]>
				</when>
				<when test="tableBox == 'name'">
					<![CDATA[and name LIKE '%'|| #{buyerKeyword} || '%']]>
				</when>
				<when test="tableBox == 'mobile'">
					<![CDATA[and mobile LIKE '%'|| #{buyerKeyword} || '%']]>
				</when>
				<otherwise>
					<![CDATA[and name LIKE ' ']]>
				</otherwise>
			</choose>
		<![CDATA[ORDER BY purchase_time desc]]>
	</select>
	
	<!-- 구매자 구매일 따른 연별 리스트 -->	

	<select id="selectYearTitleList" resultType="com.joyous.festivalolle.ticket.model.V_ticketBuyerListVO">
		<![CDATA[
			SELECT  DISTINCT TITLE, festival_code
            FROM V_TICKET_BUYER_LIST
            WHERE purchase_time like #{purchaseTime} and organization_code = #{organizationCode}
		]]>
	</select>	
	
<!-- 연별 리스트에 따른 구매 축제 리스트 -->	

	<select id="selectYearBuyer" resultType="com.joyous.festivalolle.ticket.model.V_ticketBuyerListVO">
		<![CDATA[
			SELECT ID, NAME, MOBILE, PURCHASE_TIME,TITLE, nvl(ENTRANCE_TIME, '-') AS ENTRANCE_TIME,
			nvl(COUPON_USE_TIME, '-') AS COUPON_USE_TIME, FESTIVAL_CODE, ORGANIZATION_CODE
			FROM V_TICKET_BUYER_LIST
			WHERE festival_code = #{festivalCode} and organization_code = #{organizationCode}
		]]>
	</select>	
		
</mapper>
	