<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper의 namespace와 Interface 경로 동일하게 설정 >> mapper 후보로 등록 -->
<mapper namespace="com.joyous.festivalolle.festivalReview.repository.IUserReviewRepository">

	<insert id="insertFestivalReview" parameterType="com.joyous.festivalolle.festivalReview.model.FestivalReviewVO">
		<![CDATA[
			INSERT INTO festivalolle.festival_review
			(festival_review_code, member_code, festival_code,
			write_date, content, rating, status)
			VALUES
			(festival_review_code_seq.NEXTVAL, #{memberCode}, #{festivalCode},
			TO_CHAR(SYSDATE, 'YYYY-MM-DD'), #{content}, #{rating}, 0)
		]]>
	</insert>
	
	<update id="updateFestivalReview">
		<![CDATA[
			UPDATE festivalolle.festival_review
			SET status = #{status}
			WHERE festival_review_code = #{festivalReviewCode}
		]]>
	</update>
	
	<delete id="deleteFestivalReview">
		<![CDATA[
			DELETE festivalolle.festival_review
			WHERE festival_review_code = #{festivalReviewCode}
			AND member_code = #{memberCode}
		]]>
	</delete>
	
	<select id="selectMyFestivalReviewInFestivalInfo" 
			resultType="com.joyous.festivalolle.festivalReview.model.ViewFestivalReviewVO">
		<![CDATA[
			SELECT * FROM
			(SELECT festival_review_code, ticket.member_code AS member_code,
			write_date, content, rating, status, id
			FROM festivalolle.v_festival_review
			RIGHT OUTER JOIN festivalolle.ticket
			ON ticket.festival_code = v_festival_review.festival_code
			AND ticket.member_code = v_festival_review.member_code
			WHERE ticket.festival_code = #{festivalCode}
			AND ticket.member_code = #{memberCode}
			ORDER BY festival_review_code)
			WHERE ROWNUM = 1
		]]>
	</select>
	
	<select id="selectFestivalReviewList" 
			resultType="com.joyous.festivalolle.festivalReview.model.ViewFestivalReviewVO">
		<![CDATA[
			SELECT * FROM
			(SELECT festival_review_code, festival_code,
			write_date, content, rating, id
			FROM festivalolle.v_festival_review
			WHERE festival_code = #{festivalCode}
			AND status = 0
		]]>
		<if test="memberCode != 0">
			<![CDATA[AND member_code != #{memberCode}]]>
		</if>
		<![CDATA[
			ORDER BY festival_review_code DESC)
		]]>
		<where>
			<if test="lastReviewCode != 0">
				<![CDATA[festival_review_code < #{lastReviewCode}]]>
			</if>
			<![CDATA[AND ROWNUM <= #{perPage}]]>
		</where>
	</select>
</mapper>